@model WebApi.Models.proyectos

@{
    ViewBag.Title = "Details";
}
<section class="content-header">
    <h1>
        Evaluación
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Evaluar Proyecto</li>
    </ol>
</section>
<section class="content">

    <div class=" row">
        <section class="col-lg-10 col-lg-offset-1 connectedSortable">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles Del proyecto</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3">
                          
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.nombre)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.nombre)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.descripcion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.evaluador)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.evaluador)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.fecha)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.fecha)
                                    </dd>

                                </dl>
                            
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-primary" })
                            </p>
                        </div>

                        <div class="col-lg-9">

                            <div class="nav-tabs-custom">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist" id="tabsheader"></ul>
                                <!-- Tab panes -->
                                <form id="tabsform">
                                    <div class="tab-content" id="tabcontent">

                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                    <!-- tabs end -->
                </div>

            </div>
        </section>
    </div>
</section>
<script>
    var proyectoid = '@Model.id'
</script>
@section jsExtend
{
    <script src="~/js/projectJs.js"></script>
}
