@model IEnumerable<WebApi.Models.proyectos>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Proyectos
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Proyectos</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <!-- Left col -->
        <section class="col-lg-8 col-lg-offset-2 connectedSortable">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles Del proyecto</h3>
                </div>
                <div class="box-body">

                    <p>
                        @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
                    </p>
                    <table class="table table-bordered" id="tableproj">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.evaluador)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fecha)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.evaluador)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-info" }) |
                                        @Html.ActionLink("Evaluación", "Details", new { id = item.id }, new { @class = "btn btn-success" }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</section>
<script type="text/javascript">
    $("#tableproj").dataTable();
</script>